<%= form_with model: @kitten do |form|%>

<p> 
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :age %>
  <%= form.number_field :age, in: 0..20 %>
</p>
<p> Cuteness: </p>
  <%= form.radio_button :cuteness, "Low" %>
  <%= form.label :cuteness_low, "Low" %>
  <%= form.radio_button :cuteness, "High" %>
  <%= form.label :cuteness_high, "High" %>
  
<p> Softness: </p>
  <%= form.radio_button :softness, "Low" %>
  <%= form.label :softness_low, "Low" %>
  <%= form.radio_button :softness, "High" %>
  <%= form.label :softness_high, "High" %>

<p>
  <%= form.submit "Submit" %>
</p>
<% end %>
